h1{
    background-color:rgb(235, 46, 172);
    text-align: center;
    font-family: sans-serif;
}

.table-render{
  border-collapse: collapse;
  margin: 50px 0;
  font-size:medium;
  font-family: Tahoma;
  min-width: 600px;
  box-shadow: 0 0 50px rgba(201, 24, 24, 0.15);
}

.table-render th{
  background-color: #9841ad67;
  -webkit-text-fill-color: black;
    color: #ffffff;
    text-align: left;
}
  
.table-render th,
.table-render td{
  padding: 12px 15px;
}

.table-render tr{
  border-bottom: 1px solid #dddddd;
}

  input[type=text], select {
    width: 25%;
    padding: 6px 10px;
    
    display:table-column;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 1px;}

    .form-style{
      width: 800px;
      font-size: 16px;
      background-color: honeydew;
      padding: 20px 20px 10px 20px;
      border: 5px solid #8a1a2c;
    }

    .form-style label{

	font-family:  serif;
	font-size: 16px;
	color:blueviolet;
  display:block;
	margin-bottom: 10px;
    }
   
    .form-style button{
      font-family:  serif;
	font-size: 16px;
	color: rgb(177, 59, 59);
  display:block;
  margin-top: 10px;
	margin-bottom: 10px;
  
    }

    .form-style label > span{
      display: inline-block;
	float: left;
	width: 150px;
    }    